<div class="detailContainer" *ngIf="recipe.name.length > 0; else elseBlock">
    <div class="detailsBox">
        <p class="name">{{recipe.name}}</p>
        <p class="description">{{recipe.description}}</p>
        <img class='recipeImage' [src]="recipe.imagePath"/>
    </div>
    <div class="ingredientsBox">
        <button class="mat-fab addButton" (click)="addToShoppingList()">+</button>
        <h2 class="ingredientsTitle">Ingredients</h2>
        <div *ngFor="let ingredient of recipe.ingredients">
            <li>
                {{ingredient.name}} x
                {{ingredient.amount}}
            </li>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="defaultContainer">
        <span class="material-icons icon-arrow">
            keyboard_backspace
        </span>
        <p class="defaultText">
            Pick a recipe from the list
        </p>
    </div>
</ng-template>
