.inputBox{
    display: block;
}

.inputText{
  height: 34px;
  border-radius: 16px;
  border: 1px solid #a0a0a0;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inputNumber{
  margin-top: 5px;
  margin-left: 10px;
  height: 34px;
  border-radius: 16px;
  border: 1px solid #a0a0a0;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inputNumber, .inputText :focus{
  border: 1px solid #a0a0a0;
  border-radius: 16px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-touched {
    border: 2px solid #a94442; /* red */
  }