.inputBox{
    display: block;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-touched {
    border: 2px solid #a94442; /* red */
  }