.header{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    border-bottom: solid 1px #333;
    height: 70px;
    background-color: rgb(2, 2, 43);
}

.title{
    line-height: 2;
    margin-left: 30px;
    color: #fff;
}

.header-button-box{
    
}

.header-button{
    margin: 8px;
    padding: 8px;
}