.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.button-save{
    margin-top: 10px;
}

.addButton{
    position: absolute;
    background-color: #f80b0b;
    top: 100px;
    right: 80px;
    font-size: 21px;
    color: #ffffff;
}
